@if (style == 'home') {
<div class="clothing-card w-48 h-62 cursor-pointer" (click)="selClot()">
    <div class="flex relative bg-gray-200 h-40 rounded-lg overflow-hidden py-2 items-center">
        <div class="absolute top-2 right-3 flex gap-1">
            <app-favorite-button class="" [size]="'xxs'"></app-favorite-button>
            <button class="bg-white !px-1" (click)="deleteGarment()"><app-icon [name]="'trash'"></app-icon></button>
        </div>
        <img [src]="imageUrl" alt="{{ name }}" class="rounded-md object-hidden" />
        <app-badge class="absolute bottom-2 left-2" [text]="category"></app-badge>
    </div>
    <div class="px-2 h-12 my-1 flex items-center">
        <h3 class="text-sm font-medium">{{ name }}</h3>
    </div>
    <app-color-dot [colors]="colors" class="flex my-1 px-2"></app-color-dot>
</div>
} @else {
<div class=" flex w-xs h-42 gap-1 without-hover flex-col">
    <div class="clothing-card flex w-full h-32 gap-1">
        <img [src]="imageUrl" alt="{{ name }}" class="z-0 rounded-md h-32 w-32 wobject-hidden" />
        <div class="px-2 h-12 my-1 flex flex-col gap-1">
            <app-badge class="flex" [text]="category"></app-badge>
            <h3 class="text-sm font-medium">{{ name }}</h3>
            <app-suggested-tags [tags]="tags" class="flex gap-1 flex-wrap"></app-suggested-tags>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-2 w-full">
        <button class="options-btns flex font-semibold items-center h-6 gap-1" (click)="lockClot()"><app-icon
                [name]="'lock'"></app-icon>Keep</button>
        <button class="options-btns flex font-semibold items-center h-6 gap-1" (click)="repClot()"><app-icon
                [name]="'repeat'"></app-icon>Replace</button>
    </div>
</div>
}