/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
    font-family: "Inter", sans-serif;
}

.secondary-text {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: rgb(145, 141, 141);
}

.premium-title {
    font-family: "DM Sans", sans-serif;
}