<div class="flex w-full h-full gap-5 mt-5 items-center">
    <div class="flex flex-col gap-4 w-full h-full">
        @if (authService.userIsLoggedIn() == false){
        <div class="flex w-full h-full justify-center items-center mb-3 gap-2 px-3">
            <button class="log-in-btn px-6 py-8" (click)="logIn()">Log In!</button>
            <button class="sign-up-btn px-6 py-8" (click)="signUp()">Sign Up!</button>
        </div>
        } @else {
        @if (clothingService.savedGarment().length > 0) {
        <div class="flex gap-7 mt-5 ml-8 justify-center items-center w-full">
            @for (item of clothingService.savedGarment(); track $index) {
            <app-clothing-card class="w-auto" [category]="item.category" [colors]="item.colors"
                [imageUrl]="item.imageUrl" [name]="item.name"></app-clothing-card>
            }
        </div>
        } @else {
        <div class="max-w-82">
            <span class="text-center"> You do not have any garment yet, add one right now with the
                button on the left and bottom of your
                screen! 
            </span>
        </div>
        }
        <div class="flex absolute bottom-6 right-6 gap-3">
            <button class="" (click)="clothingService.debugger()">Debugger</button>
            <button class="" (click)="openModal()"><app-icon name="upload" /></button>
        </div>
        @if (isGarmentModalOpen) {
        <app-upload-garment class="modal" (close)="closeModal()"></app-upload-garment>
        }}
    </div>
</div>